#c1{
    width: 300px;
    height: 70px;
    text-align: center;
    background-color: #a6f457ce;
    border-radius: 20px;
    font-size: 25px;
}
.cards1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 70px;
    color: #007FFF;
    height: 330px;
    position: absolute;
    left: 70px;
    top: 200px;
    text-align: center;
}

/* .cards1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 100px;
    color: #007FFF;
    height: 330px;
    position: absolute;
    left: 300px;
    top: 230px;
    text-align: center;
}

.card1 {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    background-color: #a6f457ce!important;
} */
